
.marge200{
    margin-top: 200px;
}
.marge60{
    margin-top: 60px;
}

.marge40{
    margin-top: 40px;
}
.marge30{
    margin-top: 30px;
}
.marge20{
    margin-top: 20px;
}

.farid{
    font-family: "lucida console", sans-serif;
    font-size: 80px;
}

